{
    "plugins": [
      ["module:react-native-dotenv", {
        "envName": "MY_ENV",
        "moduleName": "@env",
        "path": ".env",
        "blocklist": null,
        "allowlist": null,
        "safe": false,
        "allowUndefined": false,
        "verbose": false
      }]
    ]
}